body{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    cursor: default;
}



[type="checkbox"]{
    cursor: pointer;
}
label{
    cursor: pointer;
}
.common_open_new_window:hover{
    opacity: 0.9;
}

.common_open_new_window{
    cursor: pointer;
    color:#007bff;
}
pdf{
    cursor: pointer;
    color:#007bff;
}
pdf:hover{
    opacity: 0.9;
}

.common_dark_background{
    background:rgba(0,0,0,0.8);
}

.common_light_font{
    color: #fff;;
}
.common_dark_white_font{
    color: #f5f5f7;
}
.common_light_grey_font{
    color:hsla(0,0%,100%,.6);
}

.common_on_dragging{
    opacity: 0.6 !important;
}

.common_blue_font{
    color:#007bff;
}
.common_grey_font{
    color: #86868b;
}
.common_waiting_font{
    color: #86868b;
    pointer-events: none;
}
.modal-header{
    padding: 0.4rem 0.8rem;
    align-items: center;
}


.dropdown-item{
    cursor: pointer;
}


textarea{
    min-height: 100px;
    resize: none;
    overflow: hidden;
}

.modal .modal-footer>button{
    padding: 4px 8px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.modal-footer>button:last-child{
    margin-right: 0;
}
.modal-footer>button{
    margin-right: 0.5rem;
}


input[type="text"],input[type="password"],textarea,input[type="date"],input[type="time"]{
    border-radius: 6px;
    border:1px solid #c7c7c7;
    outline:none;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus,input[type="date"]:focus,input[type="time"]:focus{
    box-shadow: 0px 0px 8px rgb(133, 133, 253);
}


.common_sub_main_container{
    margin: auto;
    max-width: 1280px;
    padding:0 20px;
}

.common_pattern_container{
    display: none;
}

.including_icon_eye_slash{
    cursor: pointer;
}


.common_hide_unit{
    display: none !important;
}


.modal-body{
    font-size: 16px;
}

#including_alert_dialog,#including_confirm_dialog,#including_confirm_dialog_2{
    z-index: 99999;
}
.common_hover_font:hover{
    text-decoration:none;
    color:hsla(0,0%,100%,.7);
}

.common_grey_button_hover:hover{
    background-color: #e7e7e7;
}

.common_grey_background{
    background-color: #f5f5f7d5;
}

#header_main_container,#footer_main_container,.common_main_container{
    min-width: 1150px;
}

.common_main_container{
    padding-top: 40px;
    padding-bottom: 120px;
}


em{
    color: rgb(38, 38, 255);
    font-style: inherit;
    margin:0 3px;
}

.em_of_desc_without_margin em{
    margin:0 !important;
}

.dataTable{
    width: 100%;
}

.modal-footer{
    padding: 0.5rem .75rem !important;
}



.common_waiting_button{
    background-color:grey !important;
    pointer-events: none;
}


.common_module_message{
    margin-top: 20px;
    font-family: cursive;
    text-align: right;
}


.common_state_block{
    padding:2px 5px;
    border-radius: 6px;
    font-size: 16px;
    border-width:1px;
    border-style: solid;
}

.common_btn_smaller_padding{
    padding: 3px !important;
}

.common_btn_small_padding{
    padding: 5px !important;
}

.dataTable th,.dataTable td{
    padding: 10px;
}

.common_hint_message{
    color:#cb2431;
    display: inline-block !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*虽然有些名字不一致，但显然使用这种类的 cursor 应该为pointer*/
.common_hover{
    cursor: pointer;
}

.common_right_unit{
    margin-right: 0 !important;
}

.common_hover:hover{
    opacity: 0.9;
}



.common_prevent_double_click{
    pointer-events: none;
}


.including_log_container:nth-child(odd){
    background-color: #d5d5dd;

}
.including_log_container:nth-child(even){
    background-color: #f5f5f7;
}

.including_log_container:last-child{
    margin-bottom: 0;
}

.including_log_container{
    font-size: 16px;
    border-radius: 6px;
    padding: 5px;
}

.common_log_content{
    margin-bottom: 10px;
}

.common_log_footer{
    display: flex;
    justify-content: flex-end;
    color: gray;
    font-size: 0.9em;
}

.common_log_creator_name{
    margin-right: 10px;
}

.ui-autocomplete { z-index:2147483647; }

.right_float_img{
    float: right;
}

.common_copy_font{
    color:#007bff;
    cursor: pointer;
}
