#ws_stat_controlgroup_container_real_terms{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.ws_stat_unit_for_one_plan_item{
    display: flex;
    margin-bottom: 5px;
}
.ws_stat_unit_for_one_plan_item:last-child{
    margin-bottom: 0;
}

#ws_stat_of_date_range_dialog[group_by='plan'] .ws_stat_group_by_tag{
    display: none;
}

#ws_stat_of_date_range_dialog[group_by='tag'] .ws_stat_group_by_plan{
    display: none;
}

#ws_stat_switch_stat_mode_container{
    text-align: right;
}
#ws_stat_mode_of_plan_group{
    margin-right: 15px;
}

[name='ws_stat_mode']{
    cursor: pointer;
}


.ws_stat_unit_for_one_plan_item.sum_for_plan_item_stat{
    border-top: solid 1px rgb(197, 197, 197);
    margin-top: 5px;
    padding-top: 5px;
}

.ws_stat_unit_for_one_plan_item_name{
    width: 45%;
    margin-right: 5%;
}


.ws_stat_unit_for_one_plan_body{
    font-size: 0.9em;
}


.ws_stat_unit_for_one_plan_header_count_days{
    flex-grow: 1.1;
}


#ws_stat_content_container_of_text{
    display: flex;
    font-size: 1.1em;
}

.ws_stat_content_container_of_text_lefter{
    flex-grow: 1.1;
}

.ws_stat_unit_for_one_plan_header{
    display: flex;
}

.ws_stat_unit_for_one_plan_header_plan_name{
    width: 50%;
}

.ws_stat_unit_for_one_plan{
    margin-bottom: 5px;
}

.ws_stat_unit_for_one_plan:last-child{
    margin-bottom: 0;
}

#ws_stat_content_container_of_more_info_container{
    padding-left: 10px;
    padding-top: 10px;
}


#ws_stat_controlgroup_container_real_terms_lefter>span{
    margin: 0 15px;
}


#ws_stat_controlgroup_container_real_terms_lefter{
    flex-grow: 1.1;
    display: flex;
    align-items: center;
    margin-right: 70px;
}

#ws_stat_controlgroup_container_real_terms_lefter [type='date']{
    flex-grow: 1.1;
    flex-shrink: 1.1;
}

#ws_stat_controlgroup_container{
    margin-bottom: 15px;
}

#ws_stat_controlgroup_container_quick_terms{
    margin-top: 10px;
    font-size: 16px;
}

.ws_stat_unit_for_one_plan_body_week_info{
    margin-top: 10px;
    margin-bottom: 5px;
}

.ws_stat_container_for_one_plan_items_parent{
    margin-bottom: 15px;
}

#ws_stat_controlgroup_container_quick_terms>span{
    margin-right: 10px;
}

#ws_stat_content_container{
    margin-top: 20px;
}

#ws_stat_content_container_of_charts_for_plan_and_state_distribution,#ws_stat_content_container_of_charts_for_type_count_finish_situation{
    display: flex;
    margin-top: 10px;
}

#ws_stat_content_container_of_charts_for_distribution,#ws_stat_content_container_of_charts_for_ws_state_distribution,#ws_stat_content_container_of_charts_for_finish_situation,#ws_stat_content_container_of_charts_for_type_count{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    height: 380px;
}

#ws_stat_content_container_of_charts_average_moods{
    width: 100%;
    height: 600px;
}

