<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>scientific_manager</display-name>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<!-- <error-page> <exception-type>jakarta.servlet.ServletException</exception-type> 
		<location>/index.jsp</location> </error-page> -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>manager.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CareerServlet</servlet-name>
		<url-pattern>/CareerServlet</url-pattern>
	</servlet-mapping>




</web-app>